.splash-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }
  
  .left-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .label{
    color: black;
  }
  